/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 nov 2024, 22:24:00
    Author     : Diego Valenzuela Parra
*/

body {
    width: 100%;
    background-color: #80f7b2;
    display: flex;
    justify-content: center;
}

form {
    background-color: #f8c1ff;
    border-radius: 20px;
    padding: 0rem 1rem 1em 1rem;
    border: 2px solid black;
}